/*general barrra*/

html, body{
  font-family: 'cambria', Verdana, sans-serif;
  line-height: 1.5em;
  background: black;
}
.cont{
  margin: auto;
  max-width: 95%;
  overflow: auto;
  box-sizing: border-box;
}
.barr{
  width: 100%;
  overflow: auto;
  position: fixed;
  font-size: 30px;
  color: white;
  padding-left: 10px;
  padding-top: 10px;
  background: #000f49;
}
.barr ul{
  list-style: none;
  float: right;
}
.barr li{
  float: left;
  padding-right: 30px;
  font-size: 30px;
}
.barr li:hover{
  color: black;
  background: #057fd9;
}
.barr a{
  color: white;
  text-decoration: none;
}

.barr h1{
  float: left;
  font-size: 40px;
}
.footer p{
  color: white;
  font-size: 15px;
}
.btn{
  box-sizing: border-box;
  position: fixed;
  bottom: 10px;
  right: 20px;
  background: rgba(255, 222, 0, 0.5);
  font-size: 20px;
    font-family: 'cambria', Verdana, sans-serif;
  border: 5px solid rgb(77, 68, 48);
}
.btn a{
  text-decoration: none;
  color:inherit;
}
.btn:hover{
  background: rgba(255, 222, 0, 0.7);
  color: rgb(0, 59, 57);
}

/*welcome*/

#welcome{
background: url('../imagenes/bgimg.jpg') fixed center/cover;
height: auto;
}

#welcome h1{
  padding-top: 200px;
  font-size: 100px;
  color: #670051;
}

#welcome h2{
  color: #018696;
  font-size: 80px;
  float: right;
}

#welcome p{
  color: white;
  font-size: 30px;
  float: left;
  background: black;
}
#welcome span{
  font-size: 20px;
  color: cyan;
}

#welcome li{
  font-size: 20px;
  color: cyan;
}

#welcome ul{
  list-style: square;
  float: left;
}

#welcome table {
  width: 100%;
  max-width: 100%;
  color: white;
  text-align: center;
  font-size: 30px;
  height: 600px;
}
#welcome table img {
  width: 500px;
  height: 500px;
}
#welcome table td{
border-top: 5px solid #670051;
width: 33%;
max-width: 33%;
border-left: 3px solid cyan;
border-right: 3px solid cyan;
border-bottom: 3px solid cyan;
}

/*info*/

#info {
  background: url('../imagenes/bgbiome.jpg') fixed center/cover;
}
#boxg{
box-sizing: border-box;
width: 100%;
  padding: 150px 10px 10px 10px;
}
#boxg h1{
 color: #670051;
 font-size: 40px;
 text-align: center;
}
#boxg p{
  color: #11b7ff;
  font-size: 40px;
  text-align: center;
  background: black;
}
#box_1 {
  width: 100%;
  background: black;
  padding-top: 10px;
  height: 350px;
}
#box_1 img{
 width: 600px;
 float: right;
   padding-right: 10px;
}
#box_1 p{
    text-align: justify;
  float: left;
  color: white;
  font-size: 20px;
  width: 50%;
  padding-top: 80px;
  padding-left: 10px;
}
#box_2 {
  width: 100%;
  background: black;
  padding-top: 10px;
  height: 350px;
}
#box_2 img{
 width: 600px;
 float: left;
 padding-left: 10px;
}
#box_2 p{
  text-align: justify;
  float: right;
  color: white;
  font-size: 20px;
  width: 50%;
  padding-top: 80px;
  padding-right: 10px;
}
/*about*/
#about{
  background: url('../imagenes/bgabout.jpg') fixed center/cover;;
}
#about p{
  text-align: justify;
  color: #11b7ff;
  font-size: 20px;
}
#about h1{
  color: #00557a;
}
#about .box_1{
  background: rgba(255, 255, 255, 0.8);
  width: 90%;
  box-sizing: border-box;
  padding: 130px 50px 10px 50px;
}
#about img{
  width: 400px;
  height:250px;
}
/*armas*/

#weapons{
background: url('../imagenes/bgweapons.JPG') fixed center/cover;
}

#weapons table{
  width: 100%;
  max-width: 100%;
  color: #670051;
  font-size: 30px;
  height: auto;
  padding: 130px 20px 100px 20px;
}
#weapons td{
max-width: 33%;
width: 33%;
color: white;
background: rgba(0, 0, 0, 0.8);
text-align: justify;
}
#weapons td img{
height: 315px;
width: 236px;
}

/*galeria*/
#gallery{
  padding-top: 80px;
background: url('../imagenes/bggallery.jpg') center/cover;
}
#gallery p{
background: black;
color: white;
font-size: 25px;
text-align: justify;
}
#gallery span{
  float: left;
  padding-left: 50%;
}
#gallery h1{
 color: #670051;
 font-size: 50px;
}
#gallery .box_1{
box-sizing: border-box;
  width: 30%;
  float: left;
  padding-top: 40px;
  padding-bottom: 40px;
  background: black;
}
#gallery .box_2{
  box-sizing: border-box;
  width: 30%;
  float: right;
  padding-top: 40px;
  padding-bottom: 40px;
  background: black;
}
#gallery img{
  height: 400px;
  width: 500px;
}
#gallery .vid{
 box-sizing: border-box;
 width: 40%;
 float: left;
 padding-top: 10px;
}

/*contacto*/
#contact{
  background: url('../imagenes/ib_icon.jpg') center/cover;
  color:#00e0ff;
  height: 100%;
  padding-top: 130px;
}
#contact .box{
  width:33%;
  float: left;
  font-size: 20px;
  padding-top: 30px;
}
#contact input, #contact textarea{
  width: 90%;
  float: right;
  font-size:20px;
    background: rgba(255, 255, 255, 0.8);
}
#contact label{
  font-size: 30px;
}
#contact .btn1{
  background: #00e0ff;
  font-size: 30px;
    font-family: 'cambria', Verdana, sans-serif
}
#contact textarea {
  height: 100px;
}
#contact input:focus,
#contact textarea:focus {
  outline: none;
  border-color: #00e0ff;
}
#contact p{
  font-size: 18px;
}
